<div class="add-player-container">
  <h2>Add New Player</h2>
  <form (ngSubmit)="addPlayer()">
    <label>
      Name:
      <input type="text" [(ngModel)]="player.name" name="name" required>
    </label>
    <label>
      Age:
      <input type="number" [(ngModel)]="player.age" name="age" required>
    </label>
    <label>
      Start Career Date:
      <input type="date" [(ngModel)]="startDate" name="startDate" required>
    </label>
    <label>
      Team:
      <select [(ngModel)]="player.teamId" name="teamId" required>
        <option [ngValue]="null">Select a team</option>
        <option *ngFor="let team of teams" [ngValue]="team.id">{{team.name}}</option>
      </select>
    </label>
    <button type="submit">Add Player</button>
  </form>
</div>
