<div class="add-player-container">
  <h2>Add New Player</h2>
  <form [formGroup]="playerForm" (ngSubmit)="addPlayer()">
    <label>
      Name:
      <input type="text" formControlName="name" required>
      <div *ngIf="playerForm.controls.name.invalid && playerForm.controls.name.touched">
        Name is required (minimum 3 characters).
      </div>
    </label>
    <label>
      Age:
      <input type="number" formControlName="age" required>
      <div *ngIf="playerForm.controls.age.invalid && playerForm.controls.age.touched">
        Age is required (minimum 14).
      </div>
    </label>
    <label>
      Start Career Date:
      <input type="date" formControlName="startDate" required>
      <div *ngIf="playerForm.controls.startDate.invalid && playerForm.controls.startDate.touched">
        Start career date is required.
      </div>
    </label>
    <label>
      Team:
      <select formControlName="teamId" required>
        <option [ngValue]="null">No team</option>
        <option *ngFor="let team of teams" [ngValue]="team.id">{{team.name}}</option>
      </select>
    </label>
    <button type="submit" [disabled]="playerForm.invalid">Add Player</button>
  </form>
</div>
