.add-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
