<div class="edit-player-container">
  <h2>Edit Player</h2>
  <form [formGroup]="playerForm">
    <label>
      Name:
      <input formControlName="name" name="name" />
    </label>
    <label>
      Age:
      <input formControlName="age" name="age" />
    </label>
    <label>
      Start Career Date:
      <input type="date" formControlName="startDate" name="startDate" required>
    </label>
    <label>
      Team ID:
      <input formControlName="teamId" name="teamId" />
    </label>
    <div class="buttons">
      <button (click)="updatePlayer()">Update</button>
      <button (click)="goBack()">Go back</button>
    </div>
  </form>
</div>
