<div class="edit-team-container">
  <h2>Edit Team</h2>
  <form [formGroup]="teamForm" (ngSubmit)="updateTeam()">
    <div>
      <label for="name">Team:</label>
      <input formControlName="name" id="name" name="name" required>
    </div>
    <div>
      <label for="country">Country:</label>
      <input formControlName="country" id="country" name="country" required>
    </div>
    <div>
      <label for="city">City:</label>
      <input formControlName="city" id="city" name="city" required>
    </div>
    <div>
      <label for="commissionRate">Commission (%):</label>
      <input formControlName="commissionRate" id="commissionRate" name="commissionRate" type="number" min="0" max="100" required>
    </div>
    <div>
      <label for="accountBalance">Balance account($):</label>
      <input formControlName="accountBalance" id="accountBalance" name="accountBalance" type="number" min="0" required>
    </div>
    <button type="submit" >Update team</button>
  </form>
</div>
<button type="button" (click)="goBack()">Go back</button>
