<div class="add-team-container">
  <h2 class="mat-h2" style="text-align:center;">Add new Team</h2>
  <form [formGroup]="teamForm" (ngSubmit)="addTeam()" class="team-form">
    <mat-form-field appearance="outline" class="team-form-field">
      <mat-label>Team</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="team-form-field">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="team-form-field">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="team-form-field">
      <mat-label>Commission (%)</mat-label>
      <input matInput formControlName="commissionRate" type="number" min=0 max=100 step="0.01" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="team-form-field">
      <mat-label>Balance account($)</mat-label>
      <input matInput formControlName="accountBalance" type="number" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Add team</button>
  </form>
</div>
