<div *ngIf="team" class="team-details-container">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>{{ team.name }}</mat-card-title>
      <mat-card-subtitle>{{ team.country }}, {{ team.city }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p><b>Commission Rate:</b> {{ team.commissionRate }}%</p>
      <p><b>Account Balance:</b> {{ team.accountBalance | currency }}</p>

      <h3>Players: </h3>
      <mat-list>
        <mat-list-item class="mat-list-item" *ngFor="let player of team.players">
          <a class="player-name" routerLink="/players/{{player.id}}">{{ player.name }}</a>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button routerLink="/teams/{{ team.id }}/editing">Edit</button>
      <button mat-button type="button" (click)="goBack()">Go back</button>
    </mat-card-actions>
  </mat-card>
</div>
